body {
    background-color: #ffffff;
    font-size: 16px;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
;}
main {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";}
header {
            position: sticky;
            top: 20px;
            z-index: 1;
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 100%;
            min-height: 2svh;
            border-radius: 20px;
             background-color: #9afa8d; 
;}
h1.title {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
;}
h1.main-window-title{
    position: absolute;
    display: flex;
    padding: auto;
    margin: auto;
    font-size: 3rem;
;}
p.main-window-description {
    position: relative;
    top: 5svb;
    padding: auto;
    margin: auto;
    display: flex;
    font-size: 1.1rem;
;}
p.description {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
;}
.logoText {
    font-size: 1.2rem;
    position: relative;
    display: grid;
    box-shadow: 3px 2px 2px rgb(0, 0, 0);
    text-transform: uppercase;
    margin: 10fr;
    height: auto;
    width: auto;
    
;}
.mainWindow {
    position: relative;
    display: flex;
    min-height: 40svb;
    max-width: 100%;
    padding: 2px;
    justify-content: center;
    align-items: center;
    background-color: #928e94c4;
    border: solid, black;
    border-radius: 2px;
    ;}
.headerLogo {
    position: relative;
    display: flex;
    gap: 3svh;
    justify-content: center;
    align-items: center;
    margin-left: 3svh;}
.headerNavbar{
    position: relative;
    float: right;
    margin-right: 20px;
;}
.logoImg {
    position: relative;
;}
a.linkHref{
    font-style: italic;
;}
.windowGridSection {

    display: grid;
    border: solid 0.5px rgba(255, 255, 255, 0);
    justify-content: space-evenly;
    grid-template-columns: 2fr 3fr 2fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "project workexp education"
    "project sourcework education"
;}
.project {
    grid-area: project;
    border: solid 0.5px rgb(153, 153, 153);
    margin: 2svh;
    padding: 5svh;
;}
.workexp {
    grid-area: workexp;
        border: solid 0.5px rgb(153, 153, 153);
    margin: 2svh;
    padding: 5svh;;
    font-size: 1.5rem;
;}
.education {
    grid-area: education;
        border: solid 0.5px rgb(153, 153, 153);
    margin: 2svh;
    padding: 5svh;
    font-size: 1.2rem;
;}
.sourcework {
    grid-area: sourcework;
    display: block;
    align-items: center;
    justify-content: center;
        border: solid 0.5px rgb(153, 153, 153);
    margin: 2svh;
    padding: 5svh;
    font-size: 1.3rem;
;}
ul.projectList {
    font-size: 2rem;
;}
footer {

   display:flex;
   flex-direction:column;
   gap:8px;padding:16px;
   border-top:1px solid #39353bc4;
    border-radius:0 0 20px 20px;
    
;}
.revievsWindow {
    position: relative;
    margin: auto;
    padding: auto;
    height: 2fr;
    width: auto;
    justify-content: space-evenly;
    align-items: center;
}
.revievTitle{
    position: relative;
    display: flex;
}
.rev {
    position: relative;
    display: block;
    justify-content: space-evenly;
    align-items: center;
}